.ItemImg {
    width: 225px;
    height: 225px;
}

.CardItem{
    
    max-height: 550px;
    width: 370px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    background-color: darkorange;
    border-radius: 15px;
}

.Detalle{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
}

.ItemHeader{
    font-size: 1.7rem;
}