.ItemImg {
    width: 225px;
    height: 225px;
}

.CardItem{
    
    height: 500px;
    width: 400px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
}

